.gold {
  --cui-text-opacity: 1;
  color: rgb(193, 170, 40) !important;
}

.silver {
  --cui-text-opacity: 1;
  color: rgb(149, 149, 149) !important;
}

.bronze {
  --cui-text-opacity: 1;
  color: rgb(123, 79, 48) !important;
}

